
.intro {
  position: absolute;
  top: 5rem;
  left: 0;
  right: 0;

  background-image: url(/website/img/coding-background.jpeg);

  height: 750px;

  z-index: 9;

  box-shadow: 0 0 20px 2px rgb(255, 2, 225);
}

.main-page-img {
  display: flex;
  justify-content: center;

 border-radius: 500px;
 height: 500px;
 

 margin-top: 50px;

 
}

.job-title-1{
  display: flex;
  justify-content: center;

  margin-top: -525px;


  color: rgb(255, 0, 0);
  text-shadow: rgb(0, 254, 21) 3px 0 10px;

  font-family: fantasy;
  font-weight: bold;
  font-size: 50px;
}

.job-title-2 {
  display: flex;
  justify-content: center;

  margin-top: 475px;


  color: rgb(255, 0, 0);
  text-shadow: rgb(0, 254, 21) 3px 0 10px;

  font-family: fantasy;
  font-weight: bold;
  font-size: 50px;
}

.projects-section {
position: absolute;
top: 51.875rem;
left: 0;
right: 0;

height: 30rem;

background-image: url(/website/img/projects-background.jpeg);
background-size: 100%;

box-shadow: 0 0 20px 2px rgb(255, 2, 225);


z-index: 8;

}

.projects-section-header {
  display: flex;
  justify-content: center;

  
  color: rgb(9, 8, 8);
  font-family: fantasy;
  text-shadow: rgb(255, 0, 0) 1px 0 1px;
} 

.RPS-img-projects {
  height: 10rem;
  width: 10rem;
  border-radius: 10px;
  margin-left: 10px;
  
  box-shadow: 0 0 5px 1px rgb(255, 0, 0);
}

.aboutme-section {
  position: absolute;
  top: 81.875rem;
  left: 0;
  right: 0;

  height: 20rem;
  background-color: rgb(180, 180, 180);
  box-shadow: 0 0 20px 2px rgb(255, 2, 225);

  z-index: 7;
}

.aboutme-section-header {
  display: flex;
  justify-content: center;

  color: rgb(9, 8, 8);
  font-family: fantasy;
  text-shadow: rgb(255, 0, 0) 1px 0 1px;
}

.aboutme-section-text {
  color: black;
  padding: 0 2rem;

  text-shadow: rgb(0, 254, 21).1px 0 1px;
}

.aboutme-section-button {
 display: flex;
 justify-content: center;

  background-color: transparent;
  border-radius: 500px;
  margin-top: 3rem;
  
  padding: 10px;
  border: none;
  box-shadow: 0 0 10px 1px rgb(255, 2, 225);
  cursor: pointer;
  font-family: fantasy;

  text-shadow: rgb(0, 254, 21).1px 0 1px;
}

.aboutme-section-button-parent {
  display: flex;
  justify-content: center;
}

.aboutme-section-button-a {
  text-decoration: none;
}